<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minimize.android.routineplan">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <permission android:name="com.minimize.android.routineplan.permission.C2D_MESSAGE"
      android:protectionLevel="signature" />
  <uses-permission android:name="com.minimize.android.routineplan.permission.C2D_MESSAGE" />

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:name=".App"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".activity.ContainerActivity"/>

    <activity
        android:name=".activity.SplashActivity"
        android:theme="@style/SplashTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name=".activity.TasksActivity"/>
    <activity android:name=".activity.PlayActivity"/>

    <service android:name=".MyService"/>

    <receiver android:name=".widget.WidgetProvider" >
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data android:name="android.appwidget.provider"
          android:resource="@xml/widgetinfo" />
    </receiver>

    <service
        android:name=".widget.WidgetViewsService"
        android:exported="false"
        android:permission="android.permission.BIND_REMOTEVIEWS" >
    </service>


    <provider
        android:authorities="com.minimize.android.routineplan"
        android:exported="true"
        android:name=".data.MyContentProvider"/>

    <!-- [START gcm_receiver] -->
    <receiver
        android:name="com.google.android.gms.gcm.GcmReceiver"
        android:exported="true"
        android:permission="com.google.android.c2dm.permission.SEND" >
      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <category android:name="gcm.play.android.samples.com.gcmquickstart" />
      </intent-filter>
    </receiver>
    <!-- [END gcm_receiver] -->

    <!-- [START gcm_listener] -->
    <service
        android:name=".gcm.MyGcmListenerService"
        android:exported="false" >
      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
      </intent-filter>
    </service>
    <!-- [END gcm_listener] -->
    <!-- [START instanceId_listener] -->
    <service
        android:name=".gcm.MyInstanceIDListenerService"
        android:exported="false">
      <intent-filter>
        <action android:name="com.google.android.gms.iid.InstanceID"/>
      </intent-filter>
    </service>
    <!-- [END instanceId_listener] -->
    <service
        android:name=".gcm.RegistrationIntentService"
        android:exported="false">
    </service>
  </application>
</manifest>